<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!--
        properties :
        1.SqlSessionFactory.build(Read,Properties); //进行传参
        2.url和resource 读取参数
        3.properties的元素体内进行传参
    -->
    <properties resource="dbConfig.properties">
        <property name="jdbc_username" value="root"/>
    </properties>

    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <typeAliases>
        <!--
        单个类起别名
        默认是类名小写
        也可以另外重起
        -->
        <!--    <typeAlias type="com.forever.mybatissingle.mode.Person" />-->

        <!--
        批量器起别名
        -->
        <package name="com.forever.mybatissingle.mode"/>
    </typeAliases>

    <!---->


    <!--添加自定义处理器-->
    <typeHandlers>
        <typeHandler handler="com.forever.mybatissingle.handler.MyTypeHandler"/>
    </typeHandlers>




    <!--mybatis对应的数据源-->
    <environments default="development">
        <!--mysql 数据环境-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc_driverClassName}"/>
                <property name="url" value="${jdbc_url}"/>
                <property name="username" value="${jdbc_username}"/>
                <property name="password" value="${jdbc_password}"/>
            </dataSource>
        </environment>
        <!--oracle数据华宁-->
        <environment id="oracle">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${oracle.driverName}"/>
                <property name="url" value="${oracle.url}"/>
                <property name="username" value="${oracle.userName}"/>
                <property name="password" value="${oracle.password}"/>
            </dataSource>
        </environment>
    </environments>


    <databaseIdProvider type="DB_VENDOR">
        <property name="Oracle" value="oracle"/>
    </databaseIdProvider>


    <mappers>
        <mapper resource="mybatis/sqlmap/person.xml"/>
        <mapper resource="mybatis/sqlmap/CacheDao.xml"/>
    </mappers>


</configuration>
